html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#layoutSidenav {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#layoutSidenav_nav {
  flex-shrink: 0;
  width: 250px;
}

#layoutSidenav_content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

footer {
  flex-shrink: 0;
}

/* Container toast di pojok kanan atas */
.swal2-container.swal2-top-end {
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em; /* jarak antar toast */
  top: 1em !important;
  right: 1em !important;
}

/* Membuat toast tidak absolut supaya bisa tumpuk */
.swal2-toast {
  margin: 0 !important;
  position: relative !important;
  width: 300px !important; /* Atur lebar toast */
}
